<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Features - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="assets/css/Dynamic-Table.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table-1.css">
    <link rel="stylesheet" href="assets/css/MUSA_panel-table.css">
    <link rel="stylesheet" href="assets/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="assets/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container"><a class="navbar-brand logo" href="/index">BikeSharing</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1" th:switch="${user}">
                <ul class="nav navbar-nav ml-auto" th:case='null'>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/stations">STATIONS</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/pricing">Pricing</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/sign-in">SIGN IN</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/sign-up">Sign up</a></li>
                </ul>
				<ul class="nav navbar-nav ml-auto" th:case='*'>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/index">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/stations">STATIONS</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/pricing">Pricing</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" th:href="@{/edit}" th:text="${user.name}">Logged in</a></li>
					<li class="nav-item" role="presentation"><a class="nav-link" href="/sign-out">Sign out</a></li>
				</ul>
            </div>
        </div>
    </nav>
    <main class="page"></main>
    <div class="newsletter-subscribe">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Panel of available stations</h2>
				<div th:switch="${fail}">
                <p th:case="null" class="text-center">Here you can see the live availability of our stations aswell as<br>some live analythics of the system.</p>
				<p th:case="*" style="color:red" th:text="${fail}">
				</div>
			</div>
        </div>
    </div>
	<div class="dynamic-table">
    <div class="row clearfix">
		<div class="col-md-12 column">
			<table class="table table-bordered table-hover dynamic-table-tab_logic">
				<thead>
					<tr>
						<th class="text-center">
							#
						</th>
						<th class="text-center">
							Location
						</th>
						<th class="text-center">
							Available bikes
						</th>
						<th class="text-center">
							Available parking spots
						</th>
						<!--<th class="text-center">
							Actions
						</th>-->
					</tr>
				</thead>
				<tbody>
					<tr class='dynamic-table-addr0' th:each="station : ${bikeStations}">
						<td th:text="${station.id}"></td>
						<td th:text="${station.location}"></td>
						<td th:text="${station.bikes}"></td>
						<td th:text="${station.freeSpace}"></td>
						<td>
							<form action="#" th:action="@{/get-bike}" method="post">
								<input type="hidden" th:name="X" th:value="${station.X}"/>
								<input type="hidden" th:name="Y" th:value="${station.Y}"/>
								<input type="submit" class="btn btn-primary" value="Take Bike"/>
							</form>
							<form action="#" th:action="@{/add-bike}" method="post">
								<input type="hidden" th:name="X" th:value="${station.X}"/>
								<input type="hidden" th:name="Y" th:value="${station.Y}"/>
								<input type="submit" class="btn btn-primary" value="Return Bike"/>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="assets/js/smoothproducts.min.js"></script>
    <script src="assets/js/theme.js"></script>
    <script src="assets/js/Dynamic-Table.js"></script>
</body>

</html>